= form_for @disciplina do |f|
  - if @disciplina.errors.any?
    #error_explanation
      %h2= "#{pluralize(@disciplina.errors.count, "error")} proibiu esta disciplina de ser salva:"
      %ul
        - @disciplina.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :codigo, 'Código'
    = f.number_field :codigo
  .field
    = f.label :nome
    = f.text_field :nome
  .actions
    = f.submit 'Salvar'
