%h1 Lista de Ofertas

%table
  %thead
    %tr
      %th Turma
      %th
      %th
      %th

  %tbody
    - @ofertas.each do |oferta|
      %tr
        %td= oferta.turma
        %td= link_to 'Mostrar', oferta
        -if user_signed_in? #oferta.user == current.user habilita edição e exclusão somente para quem criou a oferta
          %td= link_to 'Editar', edit_oferta_path(oferta)
          %td= link_to 'Excluir', oferta, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'Nova Oferta', new_oferta_path
