%p#notice= notice
%p
	%b Código:
	= @oferta.disciplina.codigo

%p
	%b Nome:
	= @oferta.disciplina.nome

%p	
	%b Turma:
	= @oferta.turma

= link_to image_tag('voltar.png'), ofertas_path
\|
= link_to image_tag('editar.png'), edit_oferta_path(@oferta)
