%h1 Candidatos Selecionados

= form_tag delete_multiple_selecionados_path, :method => :post do
  %table
    %thead
      %tr
        %th 
        %th Matricula
        %th Nome
        %th Semestre
        %th IRA
        %th Disciplina
        %th Turma
        %th Categoria
        %th
    %tbody
      - @selecionados.each do |selecionado|
        %tr
          %td= check_box_tag 'selecionado_ids[]', selecionado.id
          %td= link_to "#{selecionado.candidato.matricula}", candidato_url(selecionado.candidato)
          %td= link_to "#{selecionado.candidato.nome}", candidato_url(selecionado.candidato)
          %td= selecionado.candidato.semestre
          %td= selecionado.candidato.ira
          %td= link_to "#{selecionado.candidato.oferta.disciplina.nome}", disciplina_url(selecionado.candidato.oferta.disciplina)
          %td= link_to "#{selecionado.candidato.oferta.turma}", oferta_url(selecionado.candidato.oferta)
          %td= selecionado.candidato.tipo.descricao
          %td= link_to image_tag('deletar.png'),  selecionado, :method => :delete, :data => { :confirm => 'Você realmente deseja remover?'  }
  %br
    = link_to image_tag('adicionar.png'), candidatos_path
    %br
  = image_submit_tag('deletar.png')

  