%p#notice= notice

%p
  %b Disciplina:
  = @selecionado.disciplina
%p
  %b Oferta:
  = @selecionado.oferta

= link_to 'Edit', edit_selecionado_path(@selecionado)
\|
= link_to 'Back', selecionados_path
