%h1 Lista de candidatos

%table
  %thead
    %tr
      %th Matricula
      %th Nome
      %th Semestre
      %th IRA
      %th Disciplina
      %th Turma
      %th
      %th

  %tbody
    - @candidatos.each do |candidato|
      %tr
        %td= link_to "#{candidato.matricula}", candidato
        %td= link_to "#{candidato.nome}", candidato
        %td= candidato.semestre
        %td= candidato.ira
        %td= link_to "#{candidato.oferta.disciplina.nome}", disciplina_url(candidato.oferta.disciplina)
        %td= link_to "#{candidato.oferta.turma}", oferta_url(candidato.oferta)
        %td= link_to image_tag('editar.png'), edit_candidato_path(candidato)
        %td= link_to image_tag('deletar.png'), candidato, :method => :delete, :data => { :confirm => 'Você realmente deseja remover?'  }

%br

= link_to image_tag('adicionar.png'), new_candidato_path
