%p#notice= notice

%p
  %b Matrícula:
  = @candidato.matricula
%p
  %b Nome:
  = @candidato.nome
%p
  %b Semestre:
  = @candidato.semestre
%p
  %b Ira:
  = @candidato.ira
%p
  %b Email:
  = @candidato.email
%p
  %b Disciplina:
  = @candidato.oferta.disciplina.nome
%p
  %b Turma:
  = @candidato.oferta.turma
%p
  %b Categoria:
  = @candidato.tipo.descricao

= link_to image_tag('voltar.png'), candidatos_path
\|
= link_to image_tag('editar.png'), edit_candidato_path(@candidato)