%h1 Listing disciplinas

%table
  %thead
    %tr
      %th Codigo
      %th Nome
      %th
      %th
      %th

  %tbody
    - @disciplinas.each do |disciplina|
      %tr
        %td= disciplina.codigo
        %td= disciplina.nome
        %td= link_to 'Exibir', disciplina
        %td= link_to 'Editar', edit_disciplina_path(disciplina)
        %td= link_to 'Remover', disciplina, :method => :delete, :data => { :confirm => 'Are you sure?' }
S
%br

= link_to 'Nova Disciplina', new_disciplina_path

