%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid

    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-barQ
      %a.navbar-brand{:href => "/"} Monitoria CIC

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        
        %li
          %a{:href => new_candidato_path} Inscrição de Candidatos
        %li
          %a{:href => disciplinas_url} Disciplinas Ofertadas
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Novo Professor
        %li
          %a{:href => "#"} Login Professor
       

%html
  %head
    %title Monitoria CIC
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
  .span12
  .span4
  - if flash[:sucesso]
    #notice.message= flash[:sucesso]
  - elsif flash[:aviso]
    #warning.message= flash[:aviso]
    #main
  = yield


